body {
    margin: 0px;
    padding: 0px;
    background-image: url("img/bgl.jpg");
    background-position: center top;
    background-color: white;
    color: rgb(87, 87, 87);
}

#page {
    background-repeat: no-repeat;
    background-position: center top;
    padding: 20px 0px 0px;
    width: 1000px;
    margin: 0px auto;
}

#pageContent {
    width: 100%;
    height: fit-content;
}

/*  nav content
    */
#nav {
    display: inline-block;
    width: 100%;
}

#nav a {
}




/* Left nav content
    */
#leftNav {
    float: left;
    display: inline-block;
    width: 20%;
    margin-top: 20px;
    background-color: #a7a1a1;
}

#leftNav a {
    margin: 2px;
    display: block;
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #000;
    text-decoration: none;
    border: none;
}

#leftNav a:hover {
    border: none;
    background-color: #777;
    box-shadow: 0px 0px 1px #777;
}


/* right nav content
    */
#rightNav {
    display: inline-block;
    width: 20%;
    margin-top: 20px;
    background-color: #a7a1a1;
    float: right;
}

#rightNav a {
    margin: 2px;
    display: block;
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #000;
    text-decoration: none;
    border: none;
}

#rightNav a:hover {
    border: none;
    background-color: #777;
    box-shadow: 0px 0px 1px #777;
}


/* Content panel content :)
    */

#content {
    margin: 20px;
    float: left;
    width: 50%;
    background-color: #ff6a00;
}

footer {
    width: 100%;
    float: left;
    
}
