<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Meta region-->
        <meta charset="utf-8" />
        <meta name="Author" content="Autor: Mateusz Sulima/Michał Semla Wydział Informatyki i Zarządzania PWr" />
        <meta name="Keywords" content="fitness, klub, sport, gimnastyka" />
        <meta name="robots" content="noindex,nofollow" />

        <title>Index</title>
         <!--Link region-->
        <link href="css/common.css" rel="stylesheet" />
        <link href="css/footer.css" rel="stylesheet" />
        <!--Script region-->
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js"></script><!--JQUERY-->
        <script type="text/javascript" src="js/include.js"></script><!--Include fragments-->
    </head>
    <body>
                    <!--
                                Here we have all page content downloaded using include.js
                                You can add page content using section "content"
                                -->
        <div id="page">
            <section id="pageContent">
                <article id="content">
                </article>
            </section>
        </div>
    </body>
</html>
