<footer>
    <div id="footerDiv">
        <div id="footermenu">
            <h4>Menu</h4>
            <ul>
            </ul>
        </div>
        <div id="footershare">
            <h4>Znajdź nas</h4>
            <ul>
                <li>
                    <a href="http://facebook.com"><img src="http://static.viewbook.com/images/social_icons/facebook_32.png" alt="Facebook">Facebook</a>
                </li>
                <li>
                    <a href=""><img src="http://static.viewbook.com/images/social_icons/linkedin_32.png" alt="LinkedIn">LinkedIn</a>
                </li>
                <li>
                    <a href=""><img src="http://static.viewbook.com/images/social_icons/twitter_32.png" alt="Twitter">Twitter</a></li>

            </ul>

        </div>
        <div id="footercontact">
            <h4>Kontakt</h4>
            <br>Email Mateusz: <a href="mailto:mateusz.sulima0@gmail.com">mateusz.sulima0@gmail.com</a>
            <br>Email Michał: <a href="mailto:">michal.semla0@brakdomany</a>
        </div>
        <div id="footer-end">
         Copyright © 2013 Mateusz Sulima & Michał Semla | Wszelkie prawa zastrzeżone.
            <details>
                <summary>Info</summary>
                <p>Zapraszamy do kontaktu pod numerem: 123 123 123</p>
            </details>
        </div>
    </div>
</footer>