<div id="header">
    <!--Other!-->
    <div id="mainmenu">
        <ul id="topNavigation">
            <li class="home current"><a href="/">Główna</a></li>
            <li><a class="navigation" href="/news.html"><span>Aktualnosci</span></a></li>
            <li><a class="navigation" href="/o-nas.html"><span>O nas</span></a></li>
            <li><a class="navigation" href="/gallery.html"><span>Galeria</span></a></li>
            <li><a class="navigation" href="/prices.html"><span>Cennik</span></a></li>
            <li><a class="navigation" href="/news.html"><span>Plany zajęć</span></a></li>
            <li><a class="navigation" href="/terms.html"><span>Regulamin</span></a></li>
            <li><a class="navigation" href="/contact.html"><span>Kontakt</span></a></li>
        </ul>
    </div>
    <div class="mainmenucorner">&nbsp;</div>
</div>