  <!--Slider-->
                    <div id="slider">
                        <div id="imageSlider" style="position: relative; width: 933px; height: 347px;">
                            <div class="imageSlide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 933px; height: 347px;">
                                <div class="imageSliderImage">
                                    <img src="/images/tmp_img.jpg" width="900" height="320">
                                </div>
                            </div>

                            <div class="imageSlide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 933px; height: 347px;">
                                <div class="imageSliderImage">
                                    <img src="/images/tmp_img2.jpg" width="900" height="320">
                                </div>
                            </div>

                            <div class="imageSlide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 933px; height: 347px;">
                                <div class="imageSliderImage">
                                    <img src="/images/tmp_img3.jpg" width="900" height="320">
                                </div>
                            </div>

                            <div class="imageSlide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 933px; height: 347px;">
                                <div class="imageSliderImage">
                                    <img src="/images/tmp_img4.jpg" width="900" height="320">
                                </div>
                            </div>
                            <div class="imageSlide" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 6; opacity: 1; width: 933px; height: 347px;">
                                <div class="imageSliderImage">
                                    <img src="/images/tmp_img5.jpg" width="900" height="320">
                                </div>
                            </div>

                        </div><div id="imageSliderNav"><a href="#" class="">1</a><a href="#" class="">2</a><a href="#" class="">3</a><a href="#" class="">4</a><a href="#" class="activeSlide">5</a></div>
                    </div>