<!DOCTYPE html>
<!--Plika zawiera informacje jak ukłąda sie struktura klasycznego tamplata strony-->
<html lang="en">
    <head>
    </head>
    <body>
        <header></header><!--Logo, slider itp-->
        <nav></nav><!--Menu górne-->
        <aside id="leftNav"></aside><!--Menu po lewej-->
        <aside id="rightNav"></aside><!--Content prawej-->
        <div id="page">
            <div id="pageContent">
                                    <!--Tu wstawiamy zawartosc strony: formularze, zdjecia i inne bajery
                                    Zazwyczaj jest to section z id "content" albo jakies article 
                                    -->
            </div>
        </div>
        <footer></footer>
    </body>
</html>
